##########################################
# MAC OS
##########################################
.DS_Store

##########################################
# ECLIPSE
##########################################
.settings
.project
*.db
*.pyc
/nbproject/private/
nbproject
/env/
staging.json

paths
.vagrant
static/admin
